* {
    color: #f8f8f2;
    font-size: 1.2em;
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: #282a36;
}

a {
        color: #bd93f9;
        text-decoration: none;
}

p {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-item {
    background-color: #44475a;
    height: 2em;
    width:  5em;
    padding-top:0.5em;
    padding-bottom: 0em;
    border-radius: 25px;
}
