@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@font-face 

* {
    font-family: 'Russo One', sans-serif;
  
}

body {
    background-color: #282a36;
}

nav a {
      text-decoration: none;
      margin: 0em 1.5em;
      color: #fff;
    
     
}

nav a:hover {
    color:#bbb;
 
}
nav {
      max-height: 11rem;
    font-size: 1.7em;
    background-image:url(pic/header3.jpg);
    background-repeat: no-repeat;
   
 
}

.navbar {
    background-color: rgba(40, 42, 54, 0.7);
    
}


.logo {
     max-height: 12rem;
    padding: 1rem 0.5rem 0rem 1rem;
}

