* {
        background-color: #282a36;
        color: #f8f8f2;
        font-size: 1.2em;
        text-align: center;
 }

 a {
        color: #bd93f9;
        text-decoration: none;
}

p {
    text-align: center;
}
